.main{
    background-image: url('https://wallpapers.com/images/hd/game-night-background-poemd877bzft58ix.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.divTitulo{
   background-color: rgba(240, 233, 233, 0.5);
   height: 150px;
   display: flex; 
   justify-content: center; 
   align-items: center;
}
.divjuegos{
    background-color: rgba(255, 255, 255, 0.789);
    height: 100px;
    display: flex; 
    justify-content: center; 
    align-items: center;
 }

.card:hover {
	cursor: pointer;
	filter: brightness(105%);
	transform: scale(1.025);
	color: #003666;
	transition: all .5s ease;
	-webkit-box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 35px 0px rgba(0,0,0,0.75);
}

.mt-n4 {
  margin-top: -1.5rem !important;
}

.feature {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 4rem;
	width: 4rem;
	font-size: 2rem;
}

.game-card {
	overflow: hidden;
}

.game-card img {
	height: 55%;
	width: auto;
	object-fit: cover;
}


.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fondo oscuro semitransparente */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Asegura que esté por encima de otros elementos */
  }
  
  /* Estilo del alert */
  .custom-alert {
    background-color: rgba(255, 255, 255, 0.9); /* Blanco medio transparente */
    border: 1px solid #ccc;
    border-radius: 8px;
    width: 300px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Estilo del header del alert */
  .custom-alert-header {
    padding: 10px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Estilo del cuerpo del alert */
  .custom-alert-body {
    padding: 15px;
    color: #333;
  }
  
  /* Estilo del botón de cerrar */
  .close-btn {
    font-size: 20px;
    cursor: pointer;
    color: white;
    padding: 0 10px;
  }
  
  .close-btn:hover {
    color: #ccc;
  }
  
  /* Estilo específico para el alert de error */
  .error-alert {
    border-color: #f44336; /* Rojo de error */
    background-color: #f44336ea;
  }