<div class="main min-vh-100">
	<header class="py-5">
		<div class="container px-lg-5">
			<div class="p-lg-2  rounded-3 text-center divTitulo" >
				<div class="m-4 m-lg-5">
					<h1 class="display-5 fw-bold image-text">Sala de Juegos</h1>
                    <h2 class="display-7 ">¡Te doy la bienvenida!</h2>

				</div>
			</div>
		</div>
	</header>



    <section class="pt-4">
        <div class="container px-lg-5">
            <!-- Page Features-->
            <div class="row gx-lg-5">
                <div class="col-lg-6 col-xxl-6 mb-5 ">
                    <div class="card divjuegos border-0 h-100" >
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="game-card feature bg-dark  bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <img src="ahorcado.png" alt="ahorcado">
                            </div>
                            <h2 class="fs-4 fw-bold">Ahorcado</h2>
                            <p class="mb-0">Intenta adivinar la palabra secreta, letra por letra antes de que te quedes sin vida</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-6 mb-5">
                    <div class="card divjuegos border-0 h-100" >
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="game-card feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <img src="mayor-menor.png" alt="mayor o menor">
                            </div>
                            <h2 class="fs-4 fw-bold">Mayor o menor</h2>
                            <p class="mb-0">Advina si la siguiente carta sera mayor o menort que la anterior</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-6 mb-5">
                    <div class="card divjuegos border-0 h-100" >
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="game-card feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <img src="preguntas-respuestas.png" alt="Preguntas y respuestas">
                            </div>
                            <h2 class="fs-4 fw-bold">Preguntados</h2>
                            <p class="mb-0">¿Cuantas preguntas sin equivocarte puedes responder?</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-xxl-6 mb-5">
                    <div class="card divjuegos border-0 h-100" >
                        <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                            <div class="game-card feature bg-dark bg-gradient text-white rounded-3 mb-4 mt-n4">
                                <img src="mayor-menor.png" alt="Juego Propio">
                            </div>
                            <h2 class="fs-4 fw-bold">Juego propio</h2>
                            <p class="mb-0">Estamos pensando ....</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


</div>