<div class="main min-vh-100 ">

    <div class="background ">
        <div class="shape separacion"></div>
        <div class="shape separacion"></div>
        </div>
        <form class="separacion">
        <h3>Iniciar sesion</h3>
    
        <label for="mail">Mail</label>
        <input type="text" placeholder="Ingrese su mail" id="mail">
    
        <label for="Contraseña">Contraseña</label>
        <input type="password" placeholder="Contraseña" id="contraseña">
    
        <button class="btnLogin" >Iniciar sesion</button>
        <div class="social">
          <button  routerLink="../registrarse" routerLinkActive="active"> registrarse</button>
          <button class="ar"> accesso rapido</button>

        </div>
    </form>

</div>