

.main{
    background-image: url('https://img.freepik.com/vector-premium/vectores-e-ilustraciones-stock-marco_662550-40.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}