<div class="main min-vh-100">

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="facundo-palmieri.png" class="d-block mx-lg-auto img-fluid personal-img" alt="facundo-palmieri" width="500" loading="lazy">
          </div>
          <div class="col-lg-6 divFondo">
            <h1 class="display-5 fw-bold lh-1 mb-3">Facundo Nicolás Palmieri</h1>
                <p class="lead">Tengo 22 años, vivo en Lanús, Buenos Aires</p> 
                <p class="lead">Soy alumno de la UTN en la tecnicatura en programación y actualmente estoy en el último cuatrimestre de la carrera.</p>
            <br>
    
            <h2 class="display-7 lh-1 mb-3">El juego que desarrollé</h2>
            <p class="lead"> Desarrollé un juego llamado Aim Trainer, que te ayuda a mejorar tus reflejos mientras juegas y practicas. ¿Te pregunto cuántos objetivos podrás alcanzar en 30 segundos?</p>
            <p class="lead"> Me inspiré en el juego de Steam llamado aimLabs y en la página Human Benchmark, que tiene muchos juegos de reacción y otros tipos.</p>
              
          </div>
        </div>
    </div>

</div>