<div class="main min-vh-100">

    <div class="container col-xxl-8 px-4 py-5">
        <div class="row g-5 py-5">
          <div class="col-10 col-sm-8 col-lg-6">
            <img src="facundo-palmieri.png" class="d-block mx-lg-auto img-fluid personal-img" alt="facundo-palmieri" width="500" loading="lazy">
          </div>
          <div class="col-lg-6">
            <h1 class="display-5 fw-bold lh-1 mb-3">Facundo Nicolas Palmieri</h1>
                <p class="lead">Tengo 22 años, vivo en Lanús, Buenos Aires</p> 
                <p class="lead">Soy un alumno de la utn en la tecnicatura en programacion, actualmente estoy en el ultimo cuatrimestre de la carrera.</p>
            <br>
    
            <h2 class="display-7 lh-1 mb-3">El juego que desarrollé...</h2>
            <p class="lead"> Aun estoy pensando que juego podria desarrollar para mostrar en la pagina </p>
          </div>
        </div>
    </div>

</div>